<p>Shampoo is better. I go on first and clean the hair. Conditioner is better. I leave the hair silky and smooth.</p>

<p><b>Name: </b><%= @electric.name %></p>
<p><b>Color: </b><%= @electric.color %></p>
<p><b>Manufacturer: </b><%= @electric.manufacturer %></p>
<p><b>Year: </b><%= @electric.year %></p>